@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  font-family: "Lobster", cursive;
  transition: all 0.3s linear;
}

$color_bg: #18191a;

html {
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: greenyellow;
  }
}
body {
  background: $color_bg; /* fallback for old browsers */
 

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.border_back_home {
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 1rem 0;
  border-radius: 50%;
  top: 30px;
  left: 30px;
  border: 2px solid white;
  &:hover {
    background-color: black;
    a {
      h1 {
        color: white;
      }
    }
  }
  a {
    text-decoration: none;
    h1 {
      font-size: 1.7rem;
      text-transform: capitalize;
      color: black;
    }
  }
}
.log_in {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10% 10%;
  gap: 10%;
  overflow: visible;

  img {
    width: 45%;
  }
  .login_register {
    position: relative;
    width: 55%;
    height: 450px;
    padding: 0 2rem 2rem 0;
    overflow: visible;
    .container_login {
      position: relative;
      width: 100%;
      height: 90%;
      background-color: black;
      border-radius: 4rem;

      // padding: 1rem 1rem;
      &.remove {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      h1 {
        color: white;
        text-transform: capitalize;
        font-size: 3vw;
        text-align: center;
        text-shadow: 0 0 5px white;
        margin-top: .5rem;
      }
      .container_form {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80%;
        background: rgba(204, 204, 204, 0.3) ; /* fallback for old browsers */
      

        .log_in {
          display: flex;
          flex-direction: column;
          gap: 50px;
          padding: 3rem 1rem;
          .container_elemt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1rem;
            gap: 10%;
            p {
              text-transform: capitalize;
              font-size: 1.5rem;
              color: white;
            }
            input {
              width: 50%;
              border-radius: 2rem;
              border-color: white;
              text-align: center;
              background-color: transparent;
              color: white;
            }
            .border_submit {
              background-color: black;
              padding: 1vw 2vw;
              border-radius: 5rem;
              border: 2px solid black;
              box-shadow: 2px 2px 5px black;

              &:hover {
                background-color: white;
                p {
                  color: black;
                }
              }
              p {
                color: white;
                font-size: 1.2vw;
              }
            }
          }
          .container_submit_register {
            justify-content: space-around;
            padding: .3rem 0 1rem 0;
          }
        }
      }
    }
    .container_register {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 888;
      width: 100%;
      height: 110%;
      background-color: black;
      border-radius: 4rem;

      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      h1 {
        color: white;
        text-transform: capitalize;
        font-size: 3vw;
        text-align: center;
        text-shadow: 0 0 5px white;
        margin-top: 1rem;

      }
      .container_form {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80%;
        background: rgba(204, 204, 204, 0.3); /* fallback for old browsers */
        

        .register {
          display: flex;
          flex-direction: column;
          gap: 50px;
          padding: 3rem 1rem;
          .container_elemt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10%;
            padding: 0 1rem;
            p {
              text-transform: capitalize;
              font-size: 1.5rem;
              color: white;
            }
            input {
              width: 50%;
              border-radius: 2rem;
              border-color: rgba(255, 255, 255, 0.5);
              text-align: center;
              color: white;
              background-color: transparent;
            }
            .border_submit {
              background-color: black;
              padding: 1vw 2vw;
              border-radius: 5rem;
              border: 2px solid black;
              box-shadow: 3px 3px 5px black;
              &:hover {
                background-color: white;
                p {
                  color: black;
                }
              }
              p {
                color: white;
                font-size: 1.2vw;
              }
            }
          }
          .container_submit_register {
            justify-content: space-around;
            padding: .3rem 0 1rem 0;

          }
        }
      }
    }
  }
}
