<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--=============== FAVICON ===============-->

    <!--=============== ICON ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--===============  ===============-->

    <title>Chat Tp</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../styles/chat_client.css" />
  </head>
  <body>
    <section class="chat">
      <div class="pane_left">
        <div class="container_head_pane_left">
          <h1>Chat</h1>
          <div class="container_service">
            <div class="border_add"><i class="bx bxs-x-circle"></i></div>
            <div class="border_rounded">
              <i class="bx bx-dots-vertical-rounded"></i>
            </div>
          </div>
        </div>
        <div class="search">
          <input id="search" type="text" />
        </div>
        <div class="container_user">
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_1.png" alt=""/>
            </div>
            <div class="border_name_user">
              <p>user 1</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_2.png" alt=""/>
            </div>
            <div class="border_name_user">
              <p>user 2</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_3.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 3</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_4.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 4</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_5.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 5</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_6.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 6</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_7.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 7</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_8.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 8</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_9.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 9</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_10.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 10</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_1.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 11</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_2.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 12</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_3.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 13</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_4.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 14</p>
            </div>
          </div>
          <div class="user">
            <div class="border_img_user">
              <img src="../public/img/user_5.png" alt="" />
            </div>
            <div class="border_name_user">
              <p>user 15</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane_right">
        <div class="container_head_pane_right">
          <div class="boder_img_user">
            <img src="../public/img/user_9.png" alt=""/>
          </div>
          <div class="boder_name_user">
            <p>user 9</p>
          </div>
          <div class="boder_log_out">
            <i class='bx bx-log-out'></i>
          </div>
        </div>
        <div class="container_content_chat">
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">hello, i'm user 1</p>
          </div>
          <div class="container_content_mess_user">
            <p>hey, user 9</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">đi chơi không</p>
          </div>
          <div class="container_content_mess_user">
            <p>khi nào?</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">ngày mai</p>
          </div>
          <div class="container_content_mess_user">
            <p>mai tôi bận rồi</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">tiếc vậy, thế đành hôm khác vậy</p>
          </div>
          <div class="container_content_mess_user">
            <p>uh. tiếc thật</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">vậy giờ, chơi game không></p>
          </div>
          <div class="container_content_mess_user">
            <p>ok. chốt luôn</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">ok, lên luôn</p>
          </div>
          <div class="container_content_mess_user">
            <p>lại phải gánh thôi</p>
          </div>
          <div class="container_content_mess_client">
              <p id="name_client">user 9</p>
            <p id="content_mess">chắc gánh :))</p>
          </div>
          <div class="container_content_mess_user">
            <p>cột sống vàng trong làng gánh team :))</p>
          </div>
        </div>
        <div class="container_tools_iput">
          <input id="input_chat" type="text" />
          <div class="border_send">
            <i class="bx bx-send send"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- <script src="../js/chat.js"></script> -->
  </body>
</html>
