<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--=============== FAVICON ===============-->

    <!--=============== ICON ===============-->

    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--===============  ===============-->

    <title>Login Chat Web</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <div class="border_back_home">
      <a href="/index.html"><h1>home</h1></a>
    </div>
    <section class="log_in">
      <img
        src="../public/img/undraw_mobile_testing_re_w7yb - Copy.svg"
        alt=""
      />
      <div class="login_register">
        <div class="container_login">
          <h1>Log in</h1>
          <div class="container_form">
            <form class="log_in">
              <div class="container_username container_elemt">
                <p>user name</p>
                <input type="text" placeholder="Your Name" id="username" />
              </div>
              <div class="container_password container_elemt">
                <p>password</p>
                <input type="password" placeholder="password" id="password" />
              </div>
              <div class="container_submit_register container_elemt">
                <p id="register">register</p>
                <div class="border_submit">
                  <p>log in</p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="container_register">
          <h1>register</h1>
          <div class="container_form">
            <form class="register">
              <div class="container_username container_elemt">
                <p>user name</p>
                <input type="text" placeholder="Your Name" id="username" />
              </div>
              <div class="container_password container_elemt">
                <p>password</p>
                <input type="password" placeholder="Password" id="password" />
              </div>
              <div class="container_password container_elemt">
                <p>confirm password</p>
                <input type="password" placeholder="confirm password" id="password" />
              </div>
              <div class="container_submit_register container_elemt">
                <p id="login">log in</p>
                <div class="border_submit">
                  <p>register</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="../js/login.js"></script>
  </body>
</html>
